h2#christmas {
    color: #ff41b9;
    position: relative;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 3em;
    font-family: 'Mountains of Christmas';
    text-shadow: -3px 8px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 0px 3px;
}
            #wire {
                text-align: center;
                white-space: nowrap;
                position: relative;
                width: 100%;
                top: -22px;
                border-bottom: 3px solid #222;
                height: 100px;
                margin: 0;
                padding: 0;
            }

            #wire li {
                position: relative;
                background-color: #fff;
                height: 30px;
                width: 15px;
                display: inline-block;
                top: 103px;
                list-style: none;
                border-radius: 50%;
                padding: 0;
                margin: 0 15px;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            }

            #wire li:nth-child(even) {
                animation-name: even-flash;
            }
            
            #wire li:nth-child(odd) {
                animation-name: odd-flash;
            }

            #wire li:before {
                content: '';
                position: absolute;
                width: 14px;
                height: 10px;
                border-radius: 4px;
                background: #444;
                left: 1px;
                top: -6px;
            }

            @keyframes even-flash {
                0%, 100% {
                    background: rgba(255, 230, 65, 1);
                    box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 1);
                }
                50% {
                    background: rgba(255, 230, 65, 1);
                    box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 0.3);
                }
            }

             @keyframes odd-flash {
                50% {
                    background: rgba(255, 65, 185, 1);
                    box-shadow: 0px 2px 20px 4px rgba(255, 65, 185, 1);
                }
                0%, 100% {
                    background: rgba(255, 65, 185, 1);
                    box-shadow: 0px 2px 20px 4px rgba(255, 65, 185, 0.3);
                }
            }
