
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* TIMELINE STYLES */

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 20px;
  background: #4CAF50!important;
} /* list style */

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #F45B69;
  transition: background-color 1s;
}/* list sudo element style */

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
  visibility: hidden;
  opacity: .1;
  transition: all 1s ease-in-out;
} /* list item style */

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
} /* list item arrow style */

.timeline ul li.in-view:nth-child(1n) div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline ul li.in-view::after {
  background: #f38400;
}
/* Some style for our odd elements*/
.timeline ul li:nth-child(odd) div {
  left: 39px;
  transform: translate3d(112px, 0, 0);
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
} /* odd list item arrow style */

/* Some style for our even elements */
.timeline ul li:nth-child(even) div {
  left: -433px;
  transform: translate3d(-140px, 0, 0);
}
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
} /* even list item arrow style */

@media screen and (max-width: 992px) {
  .timeline ul li div {
    width: 210px;
  }
  .timeline ul li:nth-child(even) div {
    left: -241px;*/ /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: -20px;
  }
   
  .timeline ul li div {
    width: calc(100vw - 217px);
  }
   
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}*/

/* TIMELINE STYLES
Reference: https://webdesign.tutsplus.com/tutorials/building-a-vertical-timeline-with-css-and-a-touch-of-javascript--cms-26528
*/


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}

a.company {
  text-decoration: none;
}

a.company:hover {
  text-decoration: underline;
}

a.help {
  text-decoration: none;
}

a.help:hover {
  cursor: help;
}

.clickAble {
  cursor: pointer;
}

ul.socialicons {
    overflow: auto;
    display: inline-flex;
    -webkit-padding-start: 0px;
}
 
ul.socialicons li {
    list-style-type: none;
    float: left;
}
 
ul.socialicons li a i, .w3-sidenav a i, span i{
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    padding-top: 22%;
    transition: all 0.2s ease-in-out;
}
.fa-facebook {
    background:#3b5998;
} 
.fa-linkedin {
    background:#007bb6;
}
.fa-twitter {
    background:#00aced;
}
.fa-google-plus {
    background:#dd4b39;
}
.fa-skype{
  background:#00aff0;
}
.fa-pinterest-p{
  background: #bd081c;
}
.fa-github{
  background: #222;
}
ul.socialicons li a i:hover {
    opacity: .7;
}
.fa-share-alt{
  background:#dd4b39;
}
.fa-download{
  background:#dd4b39;
} 
.fa-envelope-o {
  background:#dd4b39;
}

footer{
    text-align: center;
}
          
h3 {
   text-align: center;
}
td a {
  text-decoration: none;
}
.mg-40 {
    margin-left: 40px;
}

@media only screen and (min-width: 1366px) {
  .w3-container{
    padding-left: 150px;
    padding-right: 150px
  }
}

@media only screen and (max-width: 500px) {

}

p.speech {
  position: relative;
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;

/*  border: 4px solid #666;*/
    border-top-color: rgb(102, 102, 102);
    border-top-style: solid;
    border-top-width: 0px;
    border-right-color: rgb(102, 102, 102);
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(102, 102, 102);
    border-left-style: solid;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  
  /*border-radius: 30px;*/
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  
  /*-webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;*/

  font-weight: bolder;
}
p.speech:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 53px;
  top: 30px;
  border: 13px solid;
  /*border-color: #666 transparent transparent #666;*/
  border-top-color: transparent;
    border-right-color: black;
    border-bottom-color: transparent;
    border-left-color: transparent;
  margin-left: 120px;
}
p.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 53px;
  top: 30px;
  border: 13px solid;
  /*border-color: #666 transparent transparent #666;*/
  border-top-color: #4caf50;
    border-right-color: #4caf50;
    border-bottom-color: transparent;
    border-left-color: transparent;
  margin-left: 120px;
}

th {
  text-transform: uppercase;
  text-align: center;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
  display: inline-block;
  color: white;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid white;
  display: inline-block;
  color: white;
}