
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

ul.socialicons {
    overflow: auto;
    display: inline-flex;
    -webkit-padding-start: 0px;
}
 
ul.socialicons li {
    list-style-type: none;
    float: left;
}
 
ul li a i {
    background: #dd4b39;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}
.fa-facebook {
    background:#3b5998;
} 
.fa-linkedin {
    background:#007bb6;
}
.fa-twitter {
    background:#00aced;
}
.google-plus {
    background:#dd4b39;
}
ul.socialicons li a i:hover {
    opacity: .7;
}

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

h2, .panel-heading{
  text-align: center;
}

@media only screen and (max-width: 500px) {

}


