#pig-animation {
	width: 800px;
	height: 600px;
	background: url('../img/pig-animation/background.png') top left no-repeat;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}

#fence-far {
	position: absolute;
	left: -10px;
	top: 30px;
	animation: fence-far 2s linear 0s infinite;
	-webkit-animation: fence-far 2s linear 0s infinite;
	-moz-animation: fence-far 2s linear 0s infinite;
}

#fence-near {
	position: absolute;
	left: -10px;
	top: 180px;
	animation: fence-near 2s linear 0s infinite;
	-webkit-animation: fence-near 2s linear 0s infinite;
	-moz-animation: fence-near 2s linear 0s infinite;
}

#pig-leg-left-back {
	position: absolute;
	left: 240px;
	top: 370px;
}

#pig-leg-left-front {
	position: absolute;
	left: 480px;
	top: 370px;
}

#pig-body {
	position: absolute;
	left: 160px;
	top: 275px;
	animation: pig-body 0.25s linear 0s infinite alternate;
	-webkit-animation: pig-body 0.25s linear 0s infinite alternate;
	-moz-animation: pig-body 0.25s linear 0s infinite alternate;
}

#pig-tail {
	position: absolute;
	left: 150px;
	top: 260px;
}

#pig-ear {
	position: absolute;
	left: 460px;
	top: 240px;
}

#pig-leg-right-back {
	position: absolute;
	left: 200px;
	top: 380px;
}

#pig-leg-right-front {
	position: absolute;
	left: 440px;
	top: 380px;
}

/******** ANIMATIONS ********/
@-webkit-keyframes legs1 {
	from { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
	to { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
}
@keyframes legs1 {
	from { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
	to { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
}

@-webkit-keyframes legs2 {
	from { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
	to { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
}

@keyframes legs2 {
	from { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
	to { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
}

@-webkit-keyframes pig-body {
	from { -webkit-transform: translateY(0px); transform: translateY(0px); }
	to { -webkit-transform: translateY(10px); transform: translateY(10px); }
}

@keyframes pig-body {
	from { -webkit-transform: translateY(0px); transform: translateY(0px); }
	to { -webkit-transform: translateY(10px); transform: translateY(10px); }
}

@-webkit-keyframes ear-tail {
	from { -webkit-transform: translateY(0px) rotate(-5deg); transform: translateY(0px) rotate(-5deg); }
	to { -webkit-transform: translateY(10px) rotate(5deg); transform: translateY(10px) rotate(5deg);  }
}

@keyframes ear-tail {
	from { -webkit-transform: translateY(0px) rotate(-5deg); transform: translateY(0px) rotate(-5deg); }
	to { -webkit-transform: translateY(10px) rotate(5deg); transform: translateY(10px) rotate(5deg);  }
}

@-webkit-keyframes fence-far {
	from { left: -10px; }
	to { left: -114px; }
}

@keyframes fence-far {
	from { left: -10px; }
	to { left: -114px; }
}

@-webkit-keyframes fence-near {
	from { left: -10px; }
	to { left: -288px; }
}

@keyframes fence-near {
	from { left: -10px; }
	to { left: -288px; }
}





#pig-leg-right-front, #pig-leg-left-back {
	animation: legs1 0.5s linear 0s infinite alternate;
	-webkit-animation: legs1 0.5s linear 0s infinite alternate;
	-moz-animation: legs1 0.5s linear 0s infinite alternate;
}

#pig-leg-left-front, #pig-leg-right-back {
	animation: legs2 0.5s linear 0s infinite alternate;
	-webkit-animation: legs2 0.5s linear 0s infinite alternate;
	-moz-animation: legs2 0.5s linear 0s infinite alternate;
}

#pig-tail, #pig-ear {
	animation: ear-tail 0.25s linear 0s infinite alternate;
	-webkit-animation: ear-tail 0.25s linear 0s infinite alternate;
	-moz-animation: ear-tail 0.25s linear 0s infinite alternate;
}