.portfolio {
	width: 900px;
	margin: 0 auto 456px;
}

.portfolio-item {
	width: 300px;
	height: 400px;
	float: left;
	margin-top: 60px;
	position: relative;
	-webkit-perspective: 500;
}

.portfolio-bg {
	-webkit-transform: rotateY(30deg);
	-webkit-transition: -webkit-transform 0.5s ease;
}

.portfolio-item:hover .portfolio-bg {
	-webkit-transform: rotateY(0deg);
}

.portfolio-item:hover .portfolio-description {
	-webkit-transform: rotateY(360deg);
	        transform: rotateY(360deg);
}

.portfolio-description {
	background-color: #f0ede7;
	color: #8b7d5e;
	font-size: 20px;
	width: 190px;
	padding: 20px;
	position: absolute;
	top: 220px;
	left: 35px;
	box-shadow: 0px 0px 10px #000;
	-webkit-transform: rotateY(30deg) translateZ(60px);
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.portfolio h4 {
	color: #f2af1d;
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;
}