<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="" ng-app="ngPortfolio" > <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hire the Most Creative Software Engineer</title>
        <meta name="description" content="Navneet is a consistent performer as despite tons of ups and downs in his life. He always secured approximately same score in my academics.
        He is a self-learner and I have been learning new skills online on Lynda.com and Udemy.com that improved his listening skill over time and now he is quite comfortable listening to American, British and Australian accent.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base target="_blank">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- font awesome CDN for social icons -->
        <link rel="stylesheet" type="text/css" href="css/font-awesome-4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/w3.css">  
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

        <!--Load the AJAX API-->
        <script type="text/javascript" src="js/googlechart.js"></script>
        <style>
          body {
            padding-top: 100px;
            padding-bottom: 20px;
          }
          @media screen and (-webkit-min-device-pixel-ratio:0)
              and (min-resolution:.001dpcm) {
             .fmg-40 {
                  margin-left: 40px;
              }
          }
        </style>
    </head>
    <body ng-controller="homeCtrl">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
 
      <header ng-include="'components/navbar.html'"></header>

      <div id="loader" class="w3-jumbo"><i class="fa fa-spinner w3-spin w3-text-green" ng-hide="Hide"></i></div>

      <section ng-include="'components/siteheader.html'"></section>

        <section class="w3-container">
          <div class="w3-card-4">
            <div class="w3-row-padding  w3-padding">
              <div class="w3-col l6">
                <header class="w3-green">
                  <h3>May I introduce myself?</h3>
                </header>

                <p>I am a <strong><em>consistent performer</em></strong> as despite tons of ups and downs in my life. I always secured approximately same score in my academics.</p>

                <p>I am a <strong><em>self-learner</em></strong> and I have been learning new skills online on Lynda.com and Udemy.com that also improved my listening skill over time and now I am quite comfortable listening to different international English accent.</p>

                <p>Using my Git and Github version control skills I can easily maintain my source code <strong><em>avoiding complexity and bugs</em></strong>, <strong><em>Contribute</em></strong> to a project from anywhere in the world.</p>

                <p>Using my <strong><em>hands-on experience</em></strong> of Grid System and Frameworks like <a class="help" href="http://www.w3schools.com/w3css/default.asp" target="_blank">W3.css</a>  and Bootstrap, and Charting Libraries like Google chart I can rapidly build <strong><em>modern responsive UI</em></strong> for your projects.</p>

                  <button class="w3-btn w3-right w3-hover-white w3-blue w3-card-4" ng-click="more=true" ng-show="!more">Show More</button>
              </div><!-- col -->
              
              <div class="w3-col l6">
                <div class="w3-content" style="max-width:800px;position:relative">
                  <header class="w3-green">
                    <h3><i class="fa fa-trophy" aria-hidden="true"></i> Achievements &amp; Participations</h3>
                  </header>

                  <div class="w3-display-container mySlides">
                    <img ng-src="img/quiz.jpg" style="width:100%" class="w3-animate-opacity">
                    <div class="w3-display-bottomleft w3-large w3-black">
                      Runner up in Technical Quiz
                    </div>
                  </div>

                  <div class="w3-display-container mySlides">
                    <img src="img/webgeek.jpg" style="width:100%" class="w3-animate-opacity">
                    <div class="w3-display-bottomleft w3-large w3-black">
                      Won Web Design Competition
                    </div>
                  </div>

                  <div class="w3-display-container mySlides">
                    <img ng-src="img/coverdesign.jpg" style="width:100%" class="w3-animate-opacity">
                    <div class="w3-display-bottomright w3-large w3-black">
                      Participated in Magazine Cover Design Competition
                    </div>
                  </div>

                  <div class="w3-display-container mySlides">
                    <img ng-src="img/studentcouncil.jpg" style="width:100%" class="w3-animate-opacity">
                    <div class="w3-display-bottomright w3-large w3-black">
                      Have been a member of student council
                    </div>
                  </div>
                  <a class="w3-btn-floating w3-hover-dark-grey" style="position:absolute;top:45%;left:0" onclick="plusDivs(-1)">❮</a>
                  <a class="w3-btn-floating w3-hover-dark-grey" style="position:absolute;top:45%;right:0" onclick="plusDivs(1)">❯</a>
                </div>
              </div><!-- col -->  
            </div><!-- row -->
            <div class="w3-row w3-padding-left w3-padding-right">
              <div class="w3-col">
                <div class="more w3-animate-top" ng-show="more">
                  <p>Using SDLC, MVC and Angular Js we will be doing extremely fast test driven development of Web / Mobile Applications.</p>

                  <p>I was found as a <strong><em>reliable</em></strong> and <strong><em>responsible</em></strong> person by my institute with excellent grammatical and written communication skill that eliminates ambiguity in my communication, and was appointed as Magazine Secretary of the Institute where I successfully contributed as proofreader and <strong><em>led a team</em></strong> of 8 members, by coordination and collaboration we prepared Institute’s Magazine for the Magazine competition organized by University of Pune.</p>
                </div><!-- more -->
                  <button class="w3-btn w3-right w3-hover-white w3-blue w3-margin-bottom" ng-click="more=!more" ng-show="more">Less</button>
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- card -->
        </section>

      <!-- EXPERIENCE AND SERVICES -->
      <section ng-include="'components/experienceandservices.html'"></section>
      <!-- EDUCATION and TRAININGS-->
      <section ng-include="'components/educationandtraining.html'"></section>
      <!-- SKILLS and HOBBIES-->
      <section ng-include="'components/skills.html'"></section>
      <!-- CONTACT US -->
      <section ng-include="'components/contactus.html'"></section>

      <footer class="text-center">
              <p>Copyright &copy; Navneet Creations. <br/> All rights reserved &reg;</p>
        </div>   
      </footer>      
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
        <script type="text/javascript" src="js/vendor/jquery-1.11.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-socialshare/2.3.3/angular-socialshare.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/candidates.fac.js" type="text/javascript"></script>
        <script src="scripts/home.ctr.js" type="text/javascript"></script>
        <script src="js/main.js"></script>
        
        <script>
        /* Google Analytics: change UA-XXXXX-X to be your site's ID. */
           /* (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');*/ 
        </script>
    </body>
</html>
