
	<link rel="stylesheet" href="components/pig-animation/pig06.css">
	<div id="pig-animation">
		<img id="fence-far" src="components/pig-animation/img/fence-far.png">
		<img id="fence-near" src="components/pig-animation/img/fence-near.png">
		<img id="pig-leg-left-front" src="components/pig-animation/img/pig-leg-left.png">
		<img id="pig-leg-left-back" src="components/pig-animation/img/pig-leg-left.png">
		<img id="pig-tail" src="components/pig-animation/img/pig-tail.png">
		<img id="pig-body" src="components/pig-animation/img/pig-body.png">
		<img id="pig-ear" src="components/pig-animation/img/pig-ear.png">
		<img id="pig-leg-right-front" src="components/pig-animation/img/pig-leg-right.png">
		<img id="pig-leg-right-back" src="components/pig-animation/img/pig-leg-right.png">
	</div><!-- end "pig-animation" -->