<section class="w3-container" id="contact">
        <h3> <i class="fa fa-phone" aria-hidden="true"></i> CONTACT ME</h3>
        <div class="w3-card-4">
          <div class="w3-row-padding">
            <div class="w3-col l6" id="map">
              <header class="w3-green">
                <h3>Find Me on Map &darr;</h3>
              </header>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.969717148491!2d77.27522831489338!3d28.63066969091647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfcad18e74289%3A0x34d861fdb781a88e!2sLaxmi+Nagar+Metro+Station!5e0!3m2!1sen!2sin!4v1471626444715" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              <footer class="w3-container w3-green">
                <h5><i class="fa fa-map-marker" aria-hidden="true"></i> View on Map <span class="w3-tag w3-orange w3-small">disabled</span></h5>
              </footer>
            </div><!-- col -->
             <div class="w3-col l6">
              <header class="w3-green">
                <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Write to me <span class="w3-tag w3-orange w3-small">Coming soon!</span></p> </h3>
              </header>

                <form action="#">
                
                  <p>
                    <label class="w3-label w3-text-green"><b>To</b></label> <span ng-copy="Message=true">
                    <input class="w3-input w3-border w3-sand" name="receiver" type="text" value="hello_navneet@hotmail.com" readonly="true"></span>
                    <span class="w3-tag w3-orange w3-margin-left" ng-show="Message"><em><strong>Email Copied</strong></em></span>
                  </p>
                  
                  <p>
                    <label class="w3-label w3-text-green"><b>From</b></label>
                    <input class="w3-input w3-border w3-sand" name="sender" type="text" placeholder="your name" required ng-model="name">
                  </p>

                  <p>
                    <label class="w3-label w3-text-green"><b>Email</b></label>
                    <input class="w3-input w3-border w3-sand" name="email" type="email" placeholder="your email" required ng-model="email" ng-disabled="!name">
                  </p>

                  <p>
                    <label class="w3-label w3-text-green"><b>Website</b></label>
                    <input class="w3-input w3-border w3-sand" name="website" type="url" placeholder="your website (optional)" ng-disabled="!name">
                  </p>
                  
                  <p>
                    <textarea class="w3-sand" rows="4" cols="70" maxlength="500" placeholder="your message" style="width:100%;padding: 12px 20px;" required ng-init="count=500" ng-keydown="count=count-1" ng-model="message" ng-disabled="!email"></textarea>
                    <span class="w3-tag w3-right w3-light-grey">{{count}} character remaining..</span>
                  </p>
                  
                  <p>
                    <button class="w3-btn w3-green w3-hover-white" ng-disabled="!message">Submit</button>
                  </p>
                </form>
                <!-- <div class="w3-right">
                  <span class="w3-tag">Thanks for your: </span>
                  <span class="w3-tag">{{minutes}} m</span>
                  <span class="w3-tag">{{seconds}} s</span>
                </div> -->
            </div><!-- col -->
          </div><!-- row -->

          <div class="row w3-hide-large">
            <div class="w3-col">
              <section class="w3-center" id="shareFromBottom">
                <h5>Share IT ON: &darr;</h5>
                <ul class="socialicons">
                  <li><a href="#"
                    socialshare
                    socialshare-provider="linkedin"
                    socialshare-text="Hire the most Creative Software Engineer"
                    socialshare-hashtags="Navneet, techraiders"
                    socialshare-url="http://techraiders.github.io/portfolio">
                    <i class="fa fa-linkedin w3-xlarge" aria-hidden="true"></i>
                  </a></li>
                  <li>
                  <a href="#"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-text="Hire the most Creative Software Engineer"
                    socialshare-hashtags="Navneet, techraiders"
                    socialshare-url="http://techraiders.github.io/portfolio">
                    <i class="fa fa-facebook w3-xlarge" w3-xlarge aria-hidden="true"></i>
                  </a></li>
                            <li>
                  <a href="#"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-text="Hire the most Creative Software Engineer"
                    socialshare-hashtags="Navneet, techraiders"
                    socialshare-url="http://techraiders.github.io/portfolio">
                    <i class="fa fa-twitter w3-xlarge" aria-hidden="true" target="_blank"></i>
                  </a></li>
                            <li>
                  <a href="#"
                    socialshare
                    socialshare-provider="google"
                    socialshare-text="Hire the most Creative Software Engineer"
                    socialshare-hashtags="Navneet, techraiders"
                    socialshare-url="http://techraiders.github.io/portfolio">
                    <i class="fa fa-google-plus w3-xlarge" aria-hidden="true"></i>
                  </a></li>
                            <li>
                  <a href="#"
                    socialshare
                    socialshare-provider="skype"
                    socialshare-text="Hire the most Creative Software Engineer"
                    socialshare-hashtags="Navneet, techraiders"
                    socialshare-url="http://techraiders.github.io/portfolio">
                    <i class="fa fa-skype" aria-hidden="true"></i>
                  </a></li>
                  <li>          
                    <a href="#"
                      socialshare
                      socialshare-provider="pinterest"
                      socialshare-text="Hire the most Creative Software Engineer"
                      socialshare-hashtags="Navneet, techraiders"
                      socialshare-url="http://techraiders.github.io/portfolio">
                      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </section>
            </div>
          </div>
          
          <div class="w3-row">
            <div class="w3-col w3-center">
              <a href="#" id="bottom">Go to top (disabled) </a>
            </div>
          </div>
        </div><!-- card -->
      </section>