

<div class="w3-top" id="menubar">
  <ul class="w3-navbar w3-green w3-card-8">
    <li class="w3-hide-large w3-green w3-opennav w3-right">
      <a href="javascript:void(0);" onclick="myFunction()">☰</a>
    </li>
    <li class="w3-navitem w3-padding-16">Portfolio <span class="w3-tag w3-round w3-red">Beta</span></li>
    <li class="w3-hide-small w3-hide-medium"><a class="w3-padding-16" href="#">Home</a></li>
    <li class="w3-hide-small w3-hide-medium"><a class="w3-padding-16" href="#">Skills</a></li>
    <li class="w3-hide-small w3-hide-medium"><a class="w3-padding-16" href="#">Education</a></li>
    <li class="w3-hide-small w3-hide-medium"><a class="w3-padding-16" href="#">Experience</a></li>
    <li class="w3-hide-small w3-hide-medium"><a class="w3-padding-16" href="#">Achievements</a></li>
    <li class="w3-hide-small w3-hide-medium"><a class="w3-padding-16" href="#">Calendar</a></li>
    <li class="w3-hide-small w3-hide-medium w3-dropdown-hover w3-hover-orange">
        <a class="w3-padding-16" href="#">Projects <i class="fa fa-caret-down"></i></a>
        <div class="w3-dropdown-content w3-green w3-card-8">
          <a href="#">Portfolio</a>
          <a href="#">Online Shopping</a>
          <a href="http://techraiders.github.io/ngClassifieds/" target="_blank">Classified Ads</a>
        </div>
    </li>
    <li class="w3-hide-small w3-hide-medium"><a class="w3-padding-16" href="#">Contact</a></li>
    <li class="w3-hide-small w3-hide-medium w3-navitem w3-right"><input type="text" class="w3-input w3-border-0" placeholder="Search.. (disabled)"></li>
  </ul>

    <div id="demo" class="w3-hide w3-hide-large">
      <ul class="w3-navbar w3-green w3-card-8">
        <li><a class="w3-padding-16" href="#">Home</a></li>
        <li><a class="w3-padding-16" href="#">Skills</a></li>
        <li><a class="w3-padding-16" href="#">Education</a></li>
        <li><a class="w3-padding-16" href="#">Experience</a></li>
        <li><a class="w3-padding-16" href="#">Achievement</a></li>
        <li><a class="w3-padding-16" href="#">Calendar</a></li>
        <li class="w3-dropdown-hover w3-hover-orange">
          <a class="w3-padding-16" href="#">Projects <i class="fa fa-caret-down"></i></a>
          <div class="w3-dropdown-content w3-green w3-card-8">
            <a href="#">Portfolio</a>
            <a href="#">Online Shopping</a>
            <a href="http://techraiders.github.io/ngClassifieds/" target="_blank">Classified Ads</a>
          </div>
        </li>
        <li><a class="w3-padding-16" href="#">Contact</a></li>
        <li class="w3-navitem"><input type="search" class="w3-input w3-border-0" placeholder="Search.. (disabled)"></li>
      </ul>
    </div>
</div>

<script>
function myFunction() {
    var x = document.getElementById("demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>