	<div id="pig-animation">
		<img id="fence-far" src="../img/pig-animation/fence-far.png">
		<img id="fence-near" src="../img/pig-animation/fence-near.png">
		<img id="pig-leg-left-front" src="../img/pig-animation/pig-leg-left.png">
		<img id="pig-leg-left-back" src="../img/pig-animation/pig-leg-left.png">
		<img id="pig-tail" src="../img/pig-animation/pig-tail.png">
		<img id="pig-body" src="../img/pig-animation/pig-body.png">
		<img id="pig-ear" src="../img/pig-animation/pig-ear.png">
		<img id="pig-leg-right-front" src="../img/pig-animation/pig-leg-right.png">
		<img id="pig-leg-right-back" src="../img/pig-animation/pig-leg-right.png">
	</div><!-- end "pig-animation" -->