<!-- Share button at the right that opens sidenav of sharing icons -->
      <nav class="w3-sidenav w3-card-2 w3-hide-small w3-animate-right" style="width:auto;height:auto;right:0;" id="shareicon">
        <a href="" onclick="w3_openShareIconsSidenav()">
          <i class="fa fa-share-alt" aria-hidden="true"></i>
        </a>
      </nav>

        <!-- side nav sharing icons holder -->
      <nav class="w3-sidenav w3-animate-right w3-card-2" style="width:auto; height:auto;right:0;display:none;" id="socialshareiconsholder">
        <a href="javascript:void(0)" onclick="w3_closesocialShareIconsSidenav()" class="w3-closenav">Close &times;</a>
        <a href="#"><i class="fa fa-facebook" w3-xlarge w3-xlarge aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin" w3-xlarge aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" w3-xlarge aria-hidden="true" target="_blank"></i></a>
        <a href="#"><i class="fa fa-google-plus" w3-xlarge aria-hidden="true"></i></a>
      </nav>