<section class="w3-container">
          <div class="w3-card-4">
            <div class="w3-row" id="siteheader">
              <div class="w3-col w3-card m2">
                <img src="img/dp.jpg" alt="Display Picture" style="width:100%;">
              </div>
              <div class="w3-col m10">
                <div class="w3-margin-top">
                  <figure>Place here "Hello and Welcome" bubble</figure>
                  <p class="mg-40">
                    I'M <strong>NAVNEET PRAKASH</strong> <br/>
                    SOFTWARE ENGINEER<br/>
                    <strong>Age:</strong> 24<br/>
                    <strong> <i class="fa fa-map-marker w3-hide-medium w3-hide-large" aria-hidden="true"></i> <span class="w3-hide-small"> Address:</strong></span> WA-112, Gali No. 16, Shakarpur, Delhi-92, New Delhi<br/>
                    <strong><i class="fa fa-mobile w3-hide-medium w3-hide-large" aria-hidden="true"></i> <span class="w3-hide-small" > Phone:</strong></span> +91-9527936489<br/>
                    <strong> <i class="fa fa-envelope w3-hide-medium w3-hide-large" aria-hidden="true"></i> <span class="w3-hide-small"> Email:</strong></span> hello_navneet@hotmail.com
                  </p>
                  <div class="w3-row">
                    <div class="w3-col l10 mg-40">
                      Let's be in touch  &nbsp;&nbsp;&nbsp;
                      <ul class="socialicons">
                        <li><a href="http://facebook.com/techraiders" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://in.linkedin.com/in/techraiders" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="https://github.com/techraiders" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> </li>
                        <!-- <li class="disabled"><a href="#"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a></li> -->
                        <li class="disabled"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i> </a></li>
                      </ul>
                    </div>
                  </div><!-- social icon row nested inside col beside dp -->
                </div> <!-- dp details -->
              </div> <!-- intro column beside dp -->
            </div><!-- dp row -->
          </div><!-- card -->
        </section>
