<section class="w3-container">
  <h3>SKills AND HOBBIES</h3>
  <div class="w3-card-4">
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <h3 class="w3-green">&darr; Level of skills</h3>
        <figure id="skills_chart" style="width:100%;"></figure>
      </div><!-- col -->
      <div class="w3-col m6">
      <h3 class="w3-green">Hobbies &darr;</h3>
        <figure id="Hobbies_chart" style="width:100%;"></figure>
      </div>
    </div>
  </div>
</section>




<script type="text/javascript">
  /*BEGINNING OF GOOGLE CHART*/
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Skills');
        data.addColumn('number', 'Levels');
        data.addRows([
          ['W3css', 3],
          ['Bootstrap', 2],
          ['HTML5', .7],
          ['Angular Js 1.5.6', 1],
          ['Angular 2', .4],
          ['Github', 3],
          ['CSS3', .2],
          ['SQL Server 2014', .5],
          ['C', .3],
          ['C++', .3],
          ['Adobe Photoshop', 1],
          ['Google Chart', 1],
          ['Wireframing', 1]
        ]);

        // Set chart options
        var options = {
          'legend' : 'left',
          'height' : 400,
          'is3D'   : true
        };
      // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('skills_chart'));
        chart.draw(data, options);
        var chart = new google.visualization.PieChart(document.getElementById('Hobbies_chart'));
        chart.draw(data, options);
      }

/* END OF GOOGLE CHART*/
</script>