<section class="w3-container w3-card-4" id="skills">
    <h3> SKILLS</h3><br/>
      <div class="w3-row" style="font-size: 1.2em;font-size: medium;font-variant: small-caps;">
        <div class="w3-col w3-center">
          <p style="width:300px;display:inline-block;">SHOW ME YOUR SKILLS IN: </p>
          <select class="w3-select w3-margin w3-padding" name="option" ng-model="selectedDiv" ng-options="item for item in div" style="width:190px;display:inline-block;"></select>
          <br/>
        </div><!-- col -->
      </div><!-- row -->

          <div ng-switch="selectedDiv">
            <div class="w3-row-padding" ng-switch-when="Progress Bars">                  
              <div class="w3-col s12 m4 l4 w3-animate-right">
                <div ng-repeat="skill in navneet.skills.slice(0,6)">
                    <div class="w3-progress-container w3-card-2">
                      <div id="myBar" class="w3-progressbar w3-green" style="width:{{skill.status}}">
                          <div class="w3-center w3-text-white">{{skill.name}}</div>
                      </div><!-- progress bar -->
                    </div> <!-- progress  container --> <br/>
                </div> <!-- repeater -->
              </div><!-- col -->

              <div class="w3-col s12 m4 l4 w3-animate-bottom">
                <div ng-repeat="skill in navneet.skills.slice(7,13)">
                  <div class="w3-progress-container w3-card-2">
                    <div id="myBar" class="w3-progressbar w3-green" style="width:{{skill.status}}">
                      <div class="w3-center w3-text-white">{{skill.name}}</div>
                    </div>
                  </div> <br/>
                </div> <!-- repeater -->
              </div><!-- col -->

              <div class="w3-col s12 m4 l4 w3-animate-left">
                <div ng-repeat="skill in navneet.skills.slice(14,21)">
                  <div class="w3-progress-container w3-card-2">
                    <div id="myBar" class="w3-progressbar w3-green" style="width:{{skill.status}}">
                      <div class="w3-center w3-text-white">{{skill.name}}</div>
                    </div><!-- progress bar -->
                  </div><!-- progress container --> <br/>
                </div> <!-- repeater -->
              </div><!-- col -->
            </div><!-- ng-swith-when row -->

            <div class="w3-row" ng-switch-when="Table">
              <div class="w3-col w3-responsive">
                <div class="w3-margin">
                  <form class="w3-center"><input type="search" ng-model="q.name" placeholder="Search Skill"></form>
                </div>
                <table class="w3-table-all w3-animate-right w3-hoverable w3-responsive"  id="skillsTable">
                  <thead>
                    <tr class="w3-green">
                      <th>No.</th>
                      <th class="clickAble" ng-click="sortData('name')">Skill Name <span ng-class="getSortClass('name')"></span> </th>
                      <th>Version</th>
                      <th colspan="2">Last Used</th>
                      <th class="clickAble">
                        <span class="w3-tooltip" ng-click="sortData('experience')">EIM <span ng-class="getSortClass('experience')"></span>
                          <span class="w3-text w3-tag w3-blue" style="position:absolute;left:0;top:18px">Experience in Months</span>
                        </span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="skill in navneet.skills | orderBy: sortColumn:reverseSort | filter: q">
                      <td>{{$index+1 + "."}}</td>
                      <td>{{skill.name}}</td>
                      <td>{{skill.version}}</td>
                      <td style="width:50px;"> {{skill.last_used_month}} </td> <td> {{skill.last_used_year}} </td>
                      <td> {{skill.experience}} </td>
                    </tr>
                  </tbody>
                </table><!-- ng-switch-when -->
              </div><!-- col -->
            </div><!-- row -->

              <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn w3-blue w3-hover-white w3-right w3-margin">Show in Pie Chart</button><br/>
          </div><!-- ng-switch -->

            <div class="w3-row">
              <div class="w3-col"> 
                <div id="id01" class="w3-modal">
                  <div class="w3-modal-content w3-card-8 w3-animate-top" style="overflow:hidden;">
                    <header class="w3-green">
                      <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn">&times;</span>
                        <h3 class="">&darr; Level of skills</h3>
                    </header><!-- modal container -->
                    <div>
                        <figure  id="skills_chart">
                        </figure>
                          <figcaption class="w3-tag w3-orange w3-padding w3-margin-bottom">Can you please help me make this pie chart responsive?</figcaption>
                    </div><!-- chart container -->
                  </div><!-- modal content -->
                </div><!-- modal -->     
              </div><!-- col -->
            </div><!-- row -->
</section>
