<div class="w3-container">
	<div class="w3-row">
		<div class="w3-col">
			<section class="timeline w3-border w3-border-red">
				<header class="w3-center">
					<h2>TIMELINE</h2>
				</header>
				<ul class="timeline w3-border w3-border-blue">
					<li>
						<div>
							<time>2016</time>
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
						</div>
					</li>
					<li>
						<div>
							<time>2015</time>
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
						</div>
					</li>
					<li>
						<div>
							<time>2014</time>
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
						</div>
					</li>
					<!-- more list items here -->
				</ul>
			</section>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	function isElementInViewport(el) {
	  var rect = el.getBoundingClientRect();
	  return (
	    rect.top >= 0 &&
	    rect.left >= 0 &&
	    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
	    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
	  );
	}
	
	var items = document.querySelectorAll(".timeline li");
	 
	// code for the isElementInViewport function
	 
	function callbackFunc() {
	  for (var i = 0; i < items.length; i++) {
	    if (isElementInViewport(items[i])) {
	      items[i].classList.add("in-view");
	    }
	  }
	}
	 
	window.addEventListener("load", callbackFunc);
	window.addEventListener("scroll", callbackFunc);
</script>