<section class="w3-container" id="trainings">
        <div class="w3-card-4">
          <div class="w3-row-padding">
            <div class="w3-col s12 m6" ng-controller="trainingsCtrl">
              <h3 class="w3-green">Online Trainings</h3>
                <table class="w3-table w3-bordered w3-striped">
                  <thead>
                    <tr>
                      <th>Course Name</th>
                      <th>Certificate</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="course in courses">
                    <tr>
                      <td>{{ course.name }}</td>
                      <td><a href="http://{{ course.certificateURL }}"> Click here</a></td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- col -->

              <div class="w3-col s12 m6">
                <!-- <ul ng-repeat="achievement in achievements">
                  <li>{{achievement}}</li>
                </ul> -->
                <header class="w3-green"><h3>Level of skills</h3></header>
                <figure id="skills_chart" style="align:left;"></figure>
              </div><!-- col -->
          </div><!-- row -->
        </div><!-- card -->
      </section>