	<div class="w3-row portfolio">
		<div class="portfolio-item graphic-design">
			<img class="portfolio-bg" src="components/portfolio/img/graphic-bg.jpg" alt="Graphic Design">
			<div class="portfolio-description">
				<h4>Graphic Design</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div><!-- end of "graphic-design" -->
		
		<div class="portfolio-item web-design">
			<img class="portfolio-bg" src="components/portfolio/img/web-bg.jpg" alt="Web Design">
			<div class="portfolio-description">
				<h4>Web Design</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div><!-- end of "web-design" -->
		
		<div class="portfolio-item video">
			<img class="portfolio-bg" src="components/portfolio/img/video-bg.jpg" alt="Video">
			<div class="portfolio-description">
				<h4>Video</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div><!-- end of "video" -->
	</div><!-- end of "portfolio" -->